.banner {
    color: white;
    object-fit: contain;
    height: 67.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    filter: drop-shadow(50%);
    
    &__container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 7rem;
        height: 11rem;
        width: 35%;
        text-align: start;
        margin-top: 5rem;
        padding-bottom: 4rem;
    }

    &__title{
        font-size: 4rem;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
    }

    &__description {
        font-size: 1.5rem;
    }
    &__metadata {
        font-size: 1.5rem;
        height: auto;
    
    }
    &__button {
        position: absolute;
        width: 144px;
        height: 144px;
        left: 106px;
        top: 492px;
        border-radius: 50%;
        color: yellow;
        /* Play Button */
        
    }

}

