.banner-row {
        width: 100%;
        box-sizing: border-box;

        &-title{
            font-size: 2rem;
            text-align: start;
            padding-inline: 1.25rem;
        }
    &__posters {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 1.25rem;
        text-align: start;
        width: 100%;
        border: 2px;
        margin-top: 3rem;
        box-sizing: border-box;
        &::-webkit-scrollbar {
          display: none;  
        }
    }

    &__poster-card {
        margin-bottom: 0rem;
        position: relative;
        height: 12rem;
        &:hover .banner-row__poster-title {
            opacity: 100%;
            visibility: visible;
            transition: opacity .8s;
            background-size: cover;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)  
        }
    }

    &__poster-title {
        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s;
        z-index: 0;

        color: white;
        font-size: 1.5rem;
        

        
    }
    &__poster {
        object-fit: contain;
        max-height:12rem;
        margin-right: 1rem;
        border-radius: 10px;
        transition: transform 450ms;

        &:hover {
            transform: scale(1.08);
            filter: brightness(30%);
            transition: 300ms ease;
            
        }
        

    }
}

    